@font-face {
    font-family: "DM-Sans-Italic";
    src: url("./fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "DM-Sans";
    src: url("./fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #393939;
}

body, html {
    height: 100%;
    background-color: #e9ecef;
    font-family: "DM-Sans";
}

.container {
    display: grid;
    grid-template-columns: 0.225fr 1fr;
    height: 100%;
}

.sidebar {
    background-color: var(--primary-color);
    color: white;
    padding: 40px 0 0 30px;
}

.sidebar h1 {
    font-family: "DM-Sans-Italic";
    margin-bottom: 50px;
}

form label, form input {
    display: block;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 100px;
}

.project-list-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.add-project-btn {
    cursor: pointer;
    margin-left: 5px;
}

.project-list button {
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    border: none;
    background-color: inherit;
    color: white;
    font-family: "DM-Sans";
    margin: 15px 0;
    font-weight: 500;
}

.project-list button:first-child {
    margin-top: 30px;
}

#content {
    padding-top: 40px;
    padding-left: 30px;
}

#projectDialog {
    width: 20%;
    height: 15%;
    overflow: hidden;
}

#projectDialog h3 {
    margin-bottom: 10px;
}

#projectDialog input {
    font-size: 1rem;
    border: solid black 1.5px;
    width: 95%;
    font-family: "DM-Sans";
    padding: 5px;
}

#projectDialog button {
    margin: 20px 0;
    padding: 10px 5px;
    font-size: 0.8rem;
    font-weight: 550;
    background-color: white;
    border: solid 1px black;
    cursor: pointer;
}

#projectDialog div {
    display: flex;
    gap: 10px;
}

#content button {
    font-family: "DM-Sans";
    font-size: 1rem;
    margin-left: 15px;
    background-color: var(--primary-color);
    border: none;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
}

#content div {
    display: flex;
    align-items: center;
    font-weight: 550;
}